@import url(reset.css);
/** @import url(responsive.css)*/
@import url(toolbar.css);
@import url(footer.css);
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Urbanist', sans-serif;
    font-weight: 1rem;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    overflow-x: hidden;
}


/* contenido main */
.hero-container{
    background: url('../assets/img/fondo.png') no-repeat center center;

    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff; /* Cambia esto dependiendo de tu imagen de fondo */
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: left;
    position: absolute;
    top: 7rem;
    left: 6rem;
}

.hero-text h1 {
    color: #517f7c;
    font-size: 7rem;
    font-style: normal;
    font-weight: 700;
}

.hero-text p {
    color : #517f7c;
    width: 40vw;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.015rem;;
}

.btn-hero {
    display: inline-block;
    font-weight: 500;
    color: #fff;
    text-align: center;
    vertical-align: middle;

    background-color: #517f7c;
    padding : 1rem 2rem;
    font-size: 1.2rem;
    line-height: 1.5;
    border-radius: 1.2rem;
    border: none;

    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn-hero:hover {
    background-color: #8bcac7;
    color: #517f7c;
    transform: perspective(1px) scale(1.1);
    transition: all 0.2s ease-in-out;
}

/* ******------- seccion Producto - ¿QUÉ OFRECEMOS? -----------*****/
.card-container {
    background-color: #517f7c;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.card-container h2 {
    padding-top: 2.7rem;
    color: #ffffff;
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.0315rem;
    text-align: center;
}

.card-container p {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.0315rem;
    text-align: center;
    max-width: 80rem;
}

.container-card{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2rem 0.25rem;

    flex-wrap: wrap;

    margin: 2rem;
}

.container-card .element-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    
    padding: 2.5rem;

    width: 30rem;

    background-color: #fff;
    border-radius: 1.2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.element-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0,0,0,0.2);
}

.container-card .element-card div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.container-card .element-card img{
    display: block;
    justify-content: flex-end;

    width: 10rem;
    height: 10rem;

    object-fit: cover;
    border-radius: 1.2rem;
}

.container-card .element-card h3{
    color: rgb(9, 37, 44);

    font-size: 2rem;
    font-weight: 700;

    line-height: 3rem;
    text-align: center;
    letter-spacing: 0.0315rem;
}

.container-card .element-card p{
    color: rgb(9, 37, 44);

    font-size: 1.25rem;
    line-height: 1.875rem;
    text-align: center;

    padding: 0 .625rem;
}

.container-card .element-card button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: .625rem 2.5rem;
    gap: .625rem;

    outline: none;
    border: none;
    cursor: pointer;

    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.04em;

    color: #fff;
    background-color: #517f7c;
    border-radius: 1.2rem;

    transition: all 0.2s ease-in-out;
}

.container-card .element-card button:hover{
    background-color: #62999a;
    color: #ffffff;
    transform: perspective(1rem) scale(1.1);
    transition: all 0.2s ease-in-out;
}

/* --------******** section ¿QUIÉNES SOMOS? ----------******** */
.about-container {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    gap: 2rem;
    padding: 2.5rem;
}

.about-container .about-text{
    margin-top: 4rem;
    background-color: #517f7c;
    border-radius: 1.2rem;
    padding: 3rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.about-container h2 {
    padding-top: 2.7rem;
    color: #517f7c;
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.0315rem;
    text-align: center;
    
}

.about-container p {
    color: #ffffff;
    font-size: 1.6rem; /* Ajusta la legibilidad */
    line-height: 1.6; /* Espaciado de línea para facilitar la lectura */
    text-align: justify; /* Justifica el texto para una presentación más formal */
}

.about-container .about-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;

}

.about-container .about-content img{
    width: auto;
    max-width: 100%; /* Hace que la imagen sea responsiva */
    height: 25rem;
    border-radius: 10px; /* Bordes suavizados */
    box-shadow: 0 4px 20px rgba(0,0,0,0.1); /* Sombra sutil para la imagen */
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

.fade-in {
    animation: fadeIn 1.4s ease-out forwards;
}



/* --------******** section ¿QUÉ DICEN LOS USUARIOS?----------******** */

.about-reviews {
    background-color: #517f7c;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    gap: 2rem;
}

.about-reviews h2 {
    padding-top: 2.7rem;
    color: #ffffff;
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.0315rem;
    text-align: center;
}

.about-reviews p {
    color: #ffffff;
    width: 20vw;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.0315rem;
    text-align: center;
}



/* -********--------- section precios **********----------- */
.card-container-prices {
    min-height: 100vh;

    background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.card-container-prices h2 {
    padding-top: 2.7rem;
    color: rgb(9, 37, 44);
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.0315rem;
    text-align: center;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    text-align: center;
}

.text-wrapper p {
    width: 50vw;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.0315rem;
    text-align: center;
}

.container-card-prices {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 3rem 4rem;

    flex-wrap: wrap;

    margin:2.5rem 0;
}

.container-card-prices .element-card-prices {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    gap: 2rem;
    
    padding: 2.5rem;

    max-width: 40rem;

    background-color: #fff;
    border-radius: 1.2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.container-card-prices .element-card-prices h3{
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3rem;
    letter-spacing: 0.0315rem;
    text-align: center;
    color: rgb(9, 37, 44);
}

.container-card-prices .element-card-prices p{
    font-size: 1.25rem;
    line-height: 2rem;
    padding: 0 3rem;
}

/*color a las primeras lineas del contenido del precio*/
.container-card-prices .element-card-prices p:nth-of-type(odd){
    color: #ff003c;
}

/*color a las segundas lineas del contenido del precio*/
.container-card-prices .element-card-prices p:nth-of-type(even){
    color: rgb(9, 192, 85);
}

/* --------******** section CONTACTANOS ----------******** */
.contact {
    background-color: #ffffff;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.contact-container {
    background-color: #cfe7e5;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
    position: absolute;
    padding: 3rem;

    border-radius: 1.3rem;
    box-shadow: 0 0.1rem 2rem #517f7c;
}

.contact-container h3 {
    color: #517f7c;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.0315rem;
    text-align: center;    
}

.contact-subtitulo {
    color: #517f7c;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.03125rem;
}

.contact-container .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;  
    gap: 1rem;

    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.03125rem;
}

.contact-container .contact-form input[type="text"] {
    width: 100%;
    height: 3rem;
    padding: 1rem;
    border-radius: 1.2rem;
    gap: 2rem;
    outline: none;
}

.contact-container .contact-form input[type="text"]:focus {
    border: 1px solid #517f7c;
    box-shadow: 0 0.5rem 1rem #517f7c;
    transition: all 0.1s ease-in-out;
}

.contact-container .contact-form input[type="email"] {
    width: 100%;
    height: 3rem;
    padding: 1rem;
    border-radius: 1.2rem;
    outline: none;
}

.contact-container .contact-form input[type="email"]:focus {
    border: 1px solid #517f7c;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transition: all 0.1s ease-in-out;
}


.contact-container .contact-form textarea {
    width: 100%;
    height: 10rem;
    padding: 1rem;
    border-radius: 1.2rem;
    resize: none;
    outline: none;
}

.contact-container .contact-form textarea:focus {
    border: 1px solid #111d3b;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transition: all 0.1s ease-in-out;
}

.contact-container .contact-form button[type="submit"] {
    background-color: #517f7c;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 1.2rem;

    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.03125rem;
}



/* mostrar alerta de js (requerido) */
.bg-red-600 {
    background-color: rgba(220, 38, 38, 0.797);
}

.text-white {
    color: rgb(255, 255, 255)
}

.p-alert {  
    padding: .2rem;
    font-size:1rem;
    border-radius: 3rem;
}

.text-center {
    text-align: center;
}

.contact-space {
    gap: 2rem;
}



/* ***************** SECTION RESPONSIVE *******************/
/******************* vista grande *********************/
@media screen and (max-width:1440px){
    .ul {
        gap: 1rem;
    }


    /********* seccion principal **********/
    .hero-text {
        gap: 1rem;
        top: 4rem;
        left: 5rem;
    }

    .hero-text h1 {
        color: #185584;
        font-size: 6rem;
        font-style: normal;
        font-weight: 700;
    }
    
    .hero-text p {
        color: #185584;
        width: 50vw;
        font-size: 1.6rem;
        font-weight: 500;
        letter-spacing: 0.03125rem;
    }


    /********* seccion ¿quienes somos? **********/
    .about-container .about-content {
        flex-direction: column;
        gap: 2rem;
        font-size: 0.5rem;
    }

    .about-container h2 {        
        max-width: 100%;
        text-align: center;
        right: 50%;
    }


    .about-container .about-content img{
        width: 5rem;
        height: 5rem;
    }

    .card-container h2 {
        font-size: 4rem;
    }

    .text-wrapper p {
        width: 70vw;
        font-size: 1.6rem;
    }

    .card-container-prices h2 {
        font-size: 4rem;
    }

}

@media screen and (max-width:1024px){
    header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        height: 80px;
    }

    .ul{
        display: none;
    }

    .hero-text {
        gap: 1rem;
        top: 3.5rem;
        left: 3rem;
    }
}


@media screen and (max-width:768px){

    /* falta hacer menu hamburguesa */
    header nav {
        display: flex;
    }

    /* main */

    .container-card .element-card {
        width: 90%;
    }

    .container-card-2 .element-card-2 {
        width: 90%;
    }
}

@media screen and (max-width:660px){
    .hero-text {
        gap: 1rem;
        top: 5rem;
        left: 5rem;
    }

    .hero-text h1 {
        color: #185584;
        font-size: 4rem;
        font-style: normal;
        font-weight: 700;
    }
    
    .hero-text p {
        color: #185584;
        width: 70vw;
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 0.03125rem;
    }

    /*section quienes somos */
    .about-container .about-content {
        flex-direction: column;
        gap: 2rem;
        font-size: 0.5rem;
    }

    .about-container h2 {        
        max-width: 100%;
        text-align: center;
        right: 50%;
        font-size: 3rem;
    }

    .about-container .about-content img{
        width: 5rem;
        height: 5rem;
    }

    /*section que ofrecemos como empresa */
    .card-container h2 {
        font-size: 3rem;
    }

    .text-wrapper p {
        width: 70vw;
        font-size: 1.5rem;
    }

    /*section ¿que dicen nuestros usuarios */
    .about-reviews h2 {
        font-size: 3rem;
    }

    .about-reviews p {
        font-size: 1.5rem;
    }

    /*section prices */

    .card-container-prices h2 {
        font-size: 3rem;
    }

    .container-card-prices .element-card-prices {
        width: 80%;
    }

    .container-card-prices .element-card-prices h3{
        font-size: 2rem;
    }

    /*section contact */
    .contact-container {
        padding: 1rem;
        width: 80%;
    }

    .contact-container h3 {
        font-size: 2rem;
    }

    .contact-container p {
        font-size: 1rem;
    }

    .contact-container .contact-form {
        font-size: 0.8rem;
    }

    .contact-container .contact-form input[type="text"] {
        height: 3rem;
        padding: 0.5rem;
    }

    .contact-container .contact-form input[type="email"] {
        height: 3rem;
        padding: 0.5rem;
    }

    .contact-container .contact-form textarea {
        width: 100%;
        height: 5rem;
        padding: 0.5rem;
    }


}


@media (max-width:480px) {

    .hero-text {
        gap: 1rem;
        top: 5rem;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    .hero-text h1 {
        color: #333;
        font-size: 4rem;
        font-style: normal;
        font-weight: 700;
    }
    
    .hero-text p {
        color: #031446;
        width: inherit;
        font-size: 1.5rem;
        font-weight: 500;
    }

    .about-container .about-content {
        flex-direction: column;
        gap: 2rem;
        font-size: 0.5rem;
    }

    .about-container h2 {        
        max-width: 100%;
        text-align: center;
        right: 50%;
        font-size: 3rem;
    }

    .about-container .about-content img{
        width: 5rem;
        height: 5rem;
    }

    /*seccion ¿que dicen nuestros usuarios */
    .about-reviews h2 {
        font-size: 3rem;
    }

    .about-reviews p {
        font-size: 1.5rem;
    }

    /* seccion precios */
    .card-container-prices h2 {
        font-size: 3rem;
    }

    .text-wrapper p {
        width: 100vw;
        font-size: 1.5rem;
    }

    .container-card-prices .element-card-prices{
        width: 80%;
    }

    .container-card-prices .element-card-prices h3{
        font-size: 2rem;
    }

    .container-card-prices .element-card-prices p{
        font-size: 1rem;
    }

    /* seccion contacto */
    .contact-container {
        padding: 1rem;
        width: 80%;
    }

    .contact-container h3 {
        font-size: 2rem;
    }

    .contact-container p {
        font-size: 1rem;
    }

    .contact-container .contact-form {
        font-size: 0.8rem;
    }

    .contact-container .contact-form input[type="text"] {
        height: 2rem;
        padding: 0.5rem;
    }

    .contact-container .contact-form input[type="email"] {
        height: 2rem;
        padding: 0.5rem;
    }

    .contact-container .contact-form textarea {
        width: 70vw;
        height: 5rem;
        padding: 0.5rem;
    }

    .contact-container .contact-form button[type="submit"] {
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
    }




    .card-container h2 {
        font-size: 2.2rem;
    }
    

    .card h3 {
        font-size: 1.5rem;
    }
    
    .card p {
        font-size: 1rem;
    }

    .cards-container h2 {
        font-size: 3rem;
    }

    .text-wrapper p {
        width: 90vw;
        font-size: 1.2rem;
    }

    .cards-container-2 h2 {
        font-size: 3rem;
    }

    .container-card .element-card {
        width: 90%;
    }

    .container-card .element-card  button{
        width: 90%;
    }

    .container-card-2 .element-card-2 {
        width: 90%;
    }

    

}