@import url(reset.css);
/** @import url(responsive.css)*/
@import url(toolbar.css);
@import url(footer.css);
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Urbanist', sans-serif;
    font-weight: 1rem;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    overflow-x: hidden;
}


/* contenido main */
.hero-container {
    background: url('../assets/img/fondo.jpg') no-repeat center center/cover;
    background-size: cover;
    min-height: 100vh; /* Cambiado a min-height para mejor adaptación en móviles */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff; /* Cambia esto dependiendo de tu imagen de fondo */
}

.hero-text {
    text-align: center;
    padding: 0 1rem; /* Reducido el padding en móviles */
}

.hero-text h1 {
    color: #0086BF;
    font-size: 2.5rem; /* Reducido el tamaño de fuente en móviles */
    font-style: normal;
    font-weight: 700;
    margin-bottom: 1rem;
}

.hero-text p {
    color: #0086BF;
    font-size: 1rem; /* Reducido el tamaño de fuente en móviles */
    font-weight: 600;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.btn-hero {
    display: inline-block;
    font-weight: 500;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    background-color: #0086BF;
    padding: 0.8rem 1.5rem; /* Ajustado el padding en móviles */
    font-size: 1rem; /* Reducido el tamaño de fuente en móviles */
    border-radius: 1.2rem;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn-hero:hover {
    background-color: #72b6d3;
    color: #ffffff;
    transform: scale(1.1);
}

/* Media queries */
@media screen and (min-width: 768px) {
    
    
    .hero-text {
        padding: 0 4rem;
    }

    .hero-text h1 {
        font-size: 4rem; /* Ajustado para tabletas */
        color: #0086BF;

    }

    .hero-text p {
        font-size: 1.2rem; /* Ajustado para tabletas */
        color: #0086BF;

    }
}

@media screen and (min-width: 1024px) {
    .hero-text {
        padding: 0 8rem;
        color: #0086BF;
    }

    .hero-text h1 {
        font-size: 5rem; /* Ajustado para escritorio */
        color: #0086BF;
    }

    .hero-text p {
        font-size: 1.4rem; /* Ajustado para escritorio */
        color: #0086BF;

    }
}



/* ******------- seccion Producto - ¿QUÉ OFRECEMOS? -----------*****/
.card-container {
    background-color: #0086BF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.card-container h2 {
    padding-top: 2.7rem;
    color: #ffffff;
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.0315rem;
    text-align: center;
}

.card-container p {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.0315rem;
    text-align: center;
    max-width: 80rem;
}

.container-card{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2rem 0.25rem;

    flex-wrap: wrap;

    margin: 2rem;
}

.container-card .element-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    
    padding: 2.5rem;

    width: 30rem;

    background-color: #fff;
    border-radius: 1.2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.element-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0,0,0,0.2);
}

.container-card .element-card div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.container-card .element-card img{
    display: block;
    justify-content: flex-end;

    width: 10rem;
    height: 10rem;

    object-fit: cover;
    border-radius: 1.2rem;
}

.container-card .element-card h3{
    color: rgb(9, 37, 44);

    font-size: 2rem;
    font-weight: 700;

    line-height: 3rem;
    text-align: center;
    letter-spacing: 0.0315rem;
}

.container-card .element-card p{
    color: rgb(9, 37, 44);

    font-size: 1.25rem;
    line-height: 1.875rem;
    text-align: center;

    padding: 0 .625rem;
}

.container-card .element-card button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: .625rem 2.5rem;
    gap: .625rem;

    outline: none;
    border: none;
    cursor: pointer;

    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.04em;

    color: #fff;
    background-color: #0086BF;
    border-radius: 1.2rem;

    transition: all 0.2s ease-in-out;
}

.container-card .element-card button:hover{
    background-color: #5ec1eb;
    color: #ffffff;
    transform: perspective(1rem) scale(1.1);
    transition: all 0.2s ease-in-out;
}

/* Media query para dispositivos con un ancho máximo de 768px */
@media screen and (max-width: 768px) {
    .card-container {
        min-height: auto; /* Remover altura mínima para adaptarse mejor a dispositivos más pequeños */
        padding: 2rem; /* Añadir un poco de espacio interno */
    }

    .card-container h2 {
        font-size: 2rem; /* Reducir el tamaño del título */
        padding-top: 1.5rem; /* Ajustar el espaciado superior */
    }

    .card-container p {
        font-size: 1.25rem; /* Reducir el tamaño del texto */
        max-width: 100%; /* Hacer que el texto sea completamente responsivo */
    }

    .container-card {
        flex-direction: column; /* Cambiar a una disposición de columna para una mejor adaptabilidad */
        align-items: center; /* Centrar elementos horizontalmente */
        gap: 2rem; /* Añadir espacio entre las tarjetas */
        margin: 1rem 0; /* Ajustar el margen */
        
    }

    .container-card .element-card {
        width: 100%; /* Ancho completo para las tarjetas */
        max-width: 30rem; /* Limitar el ancho máximo */
        line-height: normal;
    }

    .container-card .element-card p {
        font-size: 1rem; /* Reducir el tamaño del texto */
        letter-spacing: normal;
    }

    .container-card .element-card h3 {
        font-size: 1rem; /* Reducir el tamaño del texto */
        letter-spacing: normal;
    }

    .container-card .element-card img {
        width: 100%; /* Ancho completo para las imágenes */
        height: auto; /* Altura automática */
        border-radius: 1.2rem; /* Mantener bordes redondeados */
    }
}

/* Media query para dispositivos con un ancho mínimo de 992px */
@media screen and (min-width: 992px) {
    .container-card .element-card {
        max-width: calc(50% - 1rem); /* Limitar el ancho de las tarjetas al 50% del contenedor con un pequeño espacio entre ellas */
    }
}


/* --------******** section ¿QUIÉNES SOMOS? ----------******** */
.about-container {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    gap: 2rem;
    padding: 2.5rem;
}

.about-container .about-text{
    margin-top: 4rem;
    background-color: #0086BF;
    border-radius: 1.2rem;
    padding: 3rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.about-container h2 {
    padding-top: 2.7rem;
    color: #0086BF;
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.0315rem;
    text-align: center;
    
}

.about-container p {
    color: #ffffff;
    font-size: 1.6rem; /* Ajusta la legibilidad */
    line-height: 1.6; /* Espaciado de línea para facilitar la lectura */
    text-align: justify; /* Justifica el texto para una presentación más formal */
}

.about-container .about-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;

}

.about-container .about-content img{
    width: auto;
    max-width: 100%; /* Hace que la imagen sea responsiva */
    height: 25rem;
    border-radius: 10px; /* Bordes suavizados */
    box-shadow: 0 4px 20px rgba(0,0,0,0.1); /* Sombra sutil para la imagen */
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

.fade-in {
    animation: fadeIn 1.4s ease-out forwards;
}

/* Media query para dispositivos con un ancho máximo de 768px */
@media screen and (max-width: 768px) {
    .about-container {
        min-height: auto; /* Remover la altura mínima para adaptarse mejor a dispositivos más pequeños */
        padding: 2rem; /* Añadir un poco de espacio interno */
    }

    .about-container h2 {
        font-size: 3rem; /* Reducir el tamaño del título */
        padding-top: 1.5rem; /* Ajustar el espaciado superior */
    }

    .about-container p {
        font-size: 1rem; /* Reducir el tamaño del texto */
    }

    .about-container .about-text {
        margin-top: 2rem; /* Ajustar el margen superior */
        padding: 2rem; /* Reducir el espacio interno del texto */
    }

    .about-container .about-content {
        flex-direction: column; /* Cambiar a una disposición de columna para una mejor adaptabilidad */
        align-items: center; /* Centrar elementos horizontalmente */
        gap: 2rem; /* Añadir espacio entre elementos */
    }

    .about-container .about-content img {
        height: auto; /* Altura automática para la imagen */
        max-height: 20rem; /* Limitar la altura máxima */
        border-radius: 10px; /* Mantener bordes suavizados */
    }
}

/* Media query para dispositivos con un ancho mínimo de 992px */
@media screen and (min-width: 992px) {
    .about-container .about-content {
        justify-content: space-between; /* Espaciar uniformemente los elementos */
    }

    .about-container .about-content img {
        max-width: 45%; /* Limitar el ancho de la imagen */
        max-height: 25rem; /* Limitar la altura máxima */
    }
}

/* seccion captura mobile */
.app-preview {
    text-align: center;
    padding: 50px 20px;
    background: #ebebeb;
}

.app-preview h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
    font-weight: 700;
}

.app-preview .imgs {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    margin: 0 auto;
}

.app-preview .imgs img {
    width: 100%;
    max-width: 10%;
    border-radius: 25px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.324);
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
    .app-preview h2 {
        font-size: 1.2rem;
    }

    .app-preview .imgs {
        flex-direction: column;
        gap: 10px;
    }

    .app-preview .imgs img {
        max-width: 60%;
        /*centrar las imagenes*/
        margin: 0 auto;
    
    }
}

@media (max-width: 480px) {
    .app-preview h2 {
        font-size: 1rem;
    }

    .app-preview .imgs img {
        max-width: 60%;
        /*centrar las imagenes*/
        margin: 0 auto;


    }
}



/* --------******** section ¿QUÉ DICEN LOS USUARIOS?----------******** */

.about-reviews {
    background-color: #0086BF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    gap: 2rem;
}

.about-reviews h2 {
    padding-top: 2.7rem;
    color: #ffffff;
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.0315rem;
    text-align: center;
}

.about-reviews p {
    color: #ffffff;
    width: 20vw;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.0315rem;
    text-align: center;
}

/* Media query para dispositivos con un ancho máximo de 768px */
@media screen and (max-width: 768px) {
    .about-reviews {
        min-height: auto; /* Remover la altura mínima para adaptarse mejor a dispositivos más pequeños */
        padding: 2rem; /* Añadir un poco de espacio interno */
    }

    .about-reviews h2 {
        font-size: 3rem; /* Reducir el tamaño del título */
        padding-top: 1.5rem; /* Ajustar el espaciado superior */
    }

    .about-reviews p {
        font-size: 1.25rem; /* Reducir el tamaño del texto */
        width: auto; /* Hacer que el ancho del párrafo sea automático */
    }
}



/* -********--------- section precios **********----------- */
.card-container-prices {
    min-height: 100vh;

    background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.card-container-prices h2 {
    padding-top: 2.7rem;
    color: rgb(9, 37, 44);
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.0315rem;
    text-align: center;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    text-align: center;
}



.container-card-prices {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 3rem 4rem;

    flex-wrap: wrap;

    margin:2.5rem 0;
}

.container-card-prices .element-card-prices {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    gap: 2rem;
    
    padding: 2.5rem;

    max-width: 40rem;

    background-color: #fff;
    border-radius: 1.2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.container-card-prices .element-card-prices h3{
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3rem;
    letter-spacing: 0.0315rem;
    text-align: center;
    color: rgb(9, 37, 44);
}

.container-card-prices .element-card-prices p{
    font-size: 1.25rem;
    line-height: 2rem;
    padding: 0 3rem;
}

/*color a las primeras lineas del contenido del precio*/
.container-card-prices .element-card-prices p:nth-of-type(odd){
    color: #ff003c;
}

/*color a las segundas lineas del contenido del precio*/
.container-card-prices .element-card-prices p:nth-of-type(even){
    color: rgb(9, 192, 85);
}

/* --------******** section CONTACTANOS ----------******** */
.contact {
    background-color: #ffffff;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-container {
    background-color: #dff2ff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
    position: relative;
    padding: 2rem;
    border-radius: 1.3rem;
    box-shadow: 0 0.1rem 2rem #a3def8;
    width: 90%;
    max-width: 800px;
    text-align: left;
}

.contact-container h3 {
    color: #0086BF;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.0315rem;
    text-align: center;    
}

.contact-subtitulo {
    color: #0086BF;
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.03125rem;
}

.contact-container .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1rem;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.03125rem;
}

.contact-container .contact-form input[type="text"],
.contact-container .contact-form input[type="email"],
.contact-container .contact-form textarea {
    width: 100%;
    padding: 1rem;
    border-radius: 1.2rem;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.contact-container .contact-form input[type="text"]:focus,
.contact-container .contact-form input[type="email"]:focus,
.contact-container .contact-form textarea:focus {
    border: 1px solid #0086BF;
    box-shadow: 0 0.5rem 1rem rgba(0, 134, 191, 0.3);
    transition: all 0.1s ease-in-out;
}

.contact-container .contact-form button[type="submit"] {
    background-color: #0086BF;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 1.2rem;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.03125rem;
    width: 100%;
    box-sizing: border-box;
}

/* Mostrar alerta de js (requerido) */
.bg-red-600 {
    background-color: rgba(220, 38, 38, 0.797);
}

.text-white {
    color: rgb(255, 255, 255);
}

.p-alert {  
    padding: .2rem;
    font-size: 1rem;
    border-radius: 3rem;
}

.text-center {
    text-align: center;
}

.contact-space {
    gap: 2rem;
}

/* Media Queries */
@media (min-width: 768px) {
    .contact-container {
        flex-direction: row;
        padding: 3rem;
        justify-content: center;
        align-items: center;
    }

    .contact-container h3 {
        font-size: 3rem;
        flex: 1 100%;
    }

    .contact-subtitulo {
        font-size: 1.5rem;
    }

    .contact-container .contact-form {
        flex: 1 100%;
        max-width: 400px;
    }

    .contact-container .contact-form button[type="submit"] {
        font-size: 1rem;
        width: auto;
    }
}

@media (max-width: 480px) {
    .contact-container h3 {
        font-size: 1.5rem;
    }

    .contact-subtitulo {
        font-size: 1rem;
    }

    .contact-container .contact-form button[type="submit"] {
        font-size: 0.875rem;
    }
}
